* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background: #FFF8F3; 
    background-image: url(../images/header_bg.png) , url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
    /* padding: 2px 5px 10px; */
}

.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    height: 64px;
    background-color:  #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    
}
/* Header & navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav li {
    list-style: none;
    /* padding: 20px 20px; */
    margin-right: 20px;

}
nav ul{
    display: flex;
    align-items: center;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 200px;
    
}
.banner-title {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
}
.banner-subtitle{
    color: #181818;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 20px;
}
.banner-para {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
/* main style */
main{
    max-width: 1140px;
    /* display: flex; */
    margin: 0px auto;
}
/* about section styles */
.about{
    margin-top: 100px;
    background-color:  #FFF8F3;
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;


}
.section-title {
    color: #181818;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    /* text-align: center; */
    margin-bottom: 30px;

}
.about-info-container {
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
}
.info-title {
    color: #757575;
    font-weight: 400;
    font-size: 20px;
}
.info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}